# Google Places API Key
# Get this from: https://console.cloud.google.com/apis/credentials
# Make sure to enable Places API and restrict the key to your domain/IP
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here 